<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="net.webootu.cordova.plugin.SendSms"
    version="0.4.1">

    <name>Send SMS</name>

    <engines>
        <engine name="cordova" version=">=2.3.0" />
    </engines>

    <description>This plugin allows you to send an SMS from your app.</description>
    <author>Dimitrios Mistriotis - WeBootU</author>
    <keywords>SMS,message,text message</keywords>

    <license>MIT</license>

    <js-module src="www/SendSMS.js" name="SendSMS">
        <clobbers target="window.SendSMS" />
    </js-module>

    <!-- android -->
    <platform name="android">

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.SEND_SMS"/>
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
			<plugin name="SendSms"
                value="net.webootu.cordova.plugin.SendSms"/>
        </config-file>

        <source-file src="SendSMS.java"
            target-dir="src/net/webootu/cordova/plugin" />

    </platform>
</plugin>